<section class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mb-10 md:mb-16">
    <h2
      class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"
    >
      Program BRIDA NTB
    </h2>

    <p
      class="max-w-screen-md text-gray-500 md:text-lg md:text-center mx-auto text-justify"
    >
      Program yang dilaksanakan oleh BRIDA NTB terdiri atas 9 program dari
      masing - masing bidang sesuai dengan tugas dan fungsi pokok masing -
      masing. Informasi lebih lanjut mengenai program BRIDA NTB, silahkan
      mengunjungi laman Program.
    </p>
    <p
      class="max-w-screen-md text-gray-500 md:text-lg md:text-center mx-auto text-justify"
    >
      Untuk informasi selengkapnya
      <a
        href="/program"
        class="text-blue-900 mx-auto hover:text-blue-600 active:text-blue-700 font-bold transition duration-100 underline"
        >klik disini
      </a>
    </p>
  </div>

  <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16">
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
            ></path>
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Beasiswa NTB</h3>
          <p class="text-gray-500 mb-2">
            Beasiswa NTB adalah salah satu program unggulan yang memberikan
            bantuan berupa beasiswa pendidikan.
          </p>
          <a
            href="/program/beasiswa-ntb"
            class="text-blue-900 hover:text-blue-600 active:text-blue-700 font-bold transition duration-100"
            >Selengkapnya</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"
            ></path>
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">
            Brida School Academy
          </h3>
          <p class="text-gray-500 mb-2">
            Merupakan program yang memberikan pelatihan secara gratis dengan
            sumber daya bermutu untuk peningkatan skill.
          </p>
          <a
            href="/program/brida-school-academy"
            class="text-blue-900 hover:text-blue-600 active:text-blue-700 font-bold transition duration-100"
            >Selengkapnya</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
            ></path>
          </svg>
        </div>
        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Edu Wisata</h3>
          <p class="text-gray-500 mb-2">
            Edu Wisata merupakan program kunjungan wisata belajar ke Kantor
            Badan Riset dan Inovasi Daerah NTB.
          </p>
          <a
            href="/program/edu-wisata"
            class="text-blue-900 hover:text-blue-600 active:text-blue-700 font-bold transition duration-100"
            >Selengkapnya</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
            class="w-7 h-7"
            fill="#fff"
          >
            <path
              d="M323.4 85.2l-96.8 78.4c-16.1 13-19.2 36.4-7 53.1c12.9 17.8 38 21.3 55.3 7.8l99.3-77.2c7-5.4 17-4.2 22.5 2.8s4.2 17-2.8 22.5l-20.9 16.2L512 316.8V128h-.7l-3.9-2.5L434.8 79c-15.3-9.8-33.2-15-51.4-15c-21.8 0-43 7.5-60 21.2zm22.8 124.4l-51.7 40.2C263 274.4 217.3 268 193.7 235.6c-22.2-30.5-16.6-73.1 12.7-96.8l83.2-67.3c-11.6-4.9-24.1-7.4-36.8-7.4C234 64 215.7 69.6 200 80l-72 48V352h28.2l91.4 83.4c19.6 17.9 49.9 16.5 67.8-3.1c5.5-6.1 9.2-13.2 11.1-20.6l17 15.6c19.5 17.9 49.9 16.6 67.8-2.9c4.5-4.9 7.8-10.6 9.9-16.5c19.4 13 45.8 10.3 62.1-7.5c17.9-19.5 16.6-49.9-2.9-67.8l-134.2-123zM96 128H0V352c0 17.7 14.3 32 32 32H64c17.7 0 32-14.3 32-32V128zM48 352c-8.8 0-16-7.2-16-16s7.2-16 16-16s16 7.2 16 16s-7.2 16-16 16zM544 128V352c0 17.7 14.3 32 32 32h32c17.7 0 32-14.3 32-32V128H544zm64 208c0 8.8-7.2 16-16 16s-16-7.2-16-16s7.2-16 16-16s16 7.2 16 16z"
            ></path>
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Kemitraan</h3>
          <p class="text-gray-500 mb-2">
            Membangun kerja sama dengan pihak ketiga untuk mendukung program
            industrialisasi NTB.
          </p>
          <a
            href="/program/kemitraan"
            class="text-blue-900 hover:text-blue-600 active:text-blue-700 font-bold transition duration-100"
            >Selengkapnya</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="w-6 h-6"
            fill="#ffffff"
          >
            <path
              d="M352 96c0 53-43 96-96 96s-96-43-96-96s43-96 96-96s96 43 96 96zM240 248V512l-48.4-24.2c-20.9-10.4-43.5-17-66.8-19.3l-96-9.6C12.5 457.2 0 443.5 0 427V224c0-17.7 14.3-32 32-32H62.3c63.6 0 125.6 19.6 177.7 56zm32 264V248c52.1-36.4 114.1-56 177.7-56H480c17.7 0 32 14.3 32 32V427c0 16.4-12.5 30.2-28.8 31.8l-96 9.6c-23.2 2.3-45.9 8.9-66.8 19.3L272 512z"
            ></path>
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">
            Penelitian dan Pengembangan
          </h3>
          <p class="text-gray-500 mb-2">
            Menyediakan fasilitas dan layanan kepada Masyarakat NTB dalam
            melakukan Penelitian dan Pengembangan.
          </p>
          <a
            href="/program/penelitian-dan-pengembangan"
            class="text-blue-900 hover:text-blue-600 active:text-blue-700 font-bold transition duration-100"
            >Selengkapnya</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 616 512"
            stroke="currentColor"
            class="w-7 h-7"
            fill="#fff"
          >
            <path
              d="M148.6 304c8.2 68.5 67.4 115.5 146 111.3 51.2 43.3 136.8 45.8 186.4-5.6 69.2 1.1 118.5-44.6 131.5-99.5 14.8-62.5-18.2-132.5-92.1-155.1-33-88.1-131.4-101.5-186.5-85-57.3 17.3-84.3 53.2-99.3 109.7-7.8 2.7-26.5 8.9-45 24.1 11.7 0 15.2 8.9 15.2 19.5v20.4c0 10.7-8.7 19.5-19.5 19.5h-20.2c-10.7 0-19.5-6-19.5-16.7V240H98.8C95 240 88 244.3 88 251.9v40.4c0 6.4 5.3 11.8 11.7 11.8h48.9zm227.4 8c-10.7 46.3 21.7 72.4 55.3 86.8C324.1 432.6 259.7 348 296 288c-33.2 21.6-33.7 71.2-29.2 92.9-17.9-12.4-53.8-32.4-57.4-79.8-3-39.9 21.5-75.7 57-93.9C297 191.4 369.9 198.7 400 248c-14.1-48-53.8-70.1-101.8-74.8 30.9-30.7 64.4-50.3 114.2-43.7 69.8 9.3 133.2 82.8 67.7 150.5 35-16.3 48.7-54.4 47.5-76.9l10.5 19.6c11.8 22 15.2 47.6 9.4 72-9.2 39-40.6 68.8-79.7 76.5-32.1 6.3-83.1-5.1-91.8-59.2zM128 208H88.2c-8.9 0-16.2-7.3-16.2-16.2v-39.6c0-8.9 7.3-16.2 16.2-16.2H128c8.9 0 16.2 7.3 16.2 16.2v39.6c0 8.9-7.3 16.2-16.2 16.2zM10.1 168C4.5 168 0 163.5 0 157.9v-27.8c0-5.6 4.5-10.1 10.1-10.1h27.7c5.5 0 10.1 4.5 10.1 10.1v27.8c0 5.6-4.5 10.1-10.1 10.1H10.1zM168 142.7v-21.4c0-5.1 4.2-9.3 9.3-9.3h21.4c5.1 0 9.3 4.2 9.3 9.3v21.4c0 5.1-4.2 9.3-9.3 9.3h-21.4c-5.1 0-9.3-4.2-9.3-9.3zM56 235.5v25c0 6.3-5.1 11.5-11.4 11.5H19.4C13.1 272 8 266.8 8 260.5v-25c0-6.3 5.1-11.5 11.4-11.5h25.1c6.4 0 11.5 5.2 11.5 11.5z"
            ></path>
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">
            Indeks Inovasi Daerah
          </h3>
          <p class="text-gray-500 mb-2">
            Merupakan kegiatan untuk meningkatkan nilai indeks inovasi daerah
            Provinsi Nusa Tenggara Barat.
          </p>
          <a
            href="#"
            class="text-blue-900 hover:text-blue-600 active:text-blue-700 font-bold transition duration-100"
            >Selengkapnya</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
