---
import BeritaProgram from "@components/page-components/program/BeritaProgram.jsx";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Detail Program BRIDA NTB" menu={3}>
  <hr />
  <main class="max-w-3xl pt-5 lg:pt-10 xl:pt-10 mx-auto">
    <section
      class="min-h-20 h-20 mb-10 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg rounded-lg relative py-40 md:py-46 xl:py-40"
    >
      <img
        src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29sbGVnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60"
        loading="lazy"
        alt="Landing Foto BRIDA NTB"
        class="w-full h-full object-cover object-center absolute inset-0"
      />
      <div class="bg-blue-500 mix-blend-multiply absolute inset-0"></div>
      <div class="sm:max-w-5xl flex flex-col items-center relative p-4">
        <p
          class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center"
        >
          Program
        </p>
        <h1
          class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center"
        >
          Beasiswa NTB
        </h1>
      </div>
    </section>
    <div class="bg-white">
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Deskripsi Program
      </h2>
      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Melalui program ini, BRIDA NTB memberikan kesempatan bagi putra putri
        NTB untuk dapat mengeyam pendidikan lebih tinggi sebagai bentuk
        Investasi Sumber Daya Manusia untuk NTB di masa depan. Program beasiswa
        ini tersedia dengan berbagai skema baik untuk tujuan dalam negeri maupun
        luar negeri. Informasi lengkap mengenai Beasiswa NTB baik dalam negeri
        maupun luar negeri dapat diakses pada website resmi LPPNTB (<a
          href="https://lppntb.com/program/beasiswa-ntb"
          class="text-blue-500">https://lppntb.com</a
        >) dan Beasiswa NTB (<a
          href="https://beasiswa.ntbprov.go.id"
          class="text-blue-500">https://beasiswa.ntbprov.go.id</a
        >)
      </p>

      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Pelaksanaan Program
      </h2>

      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Melalui program Beasiswa NTB ini sebanyak <span
          class="font-bold text-blue-500">730</span
        > Masyarakat NTB telah dikirim ke Luar Negeri untuk melanjutkan studi, mulai
        dari jenjang S1,S2, dan S3. Kemudian untuk Dalam Negeri, program Beasiswa
        NTB telah memberikan bantuan biaya pendidikan kepada <span
          class="font-bold text-blue-500">3671</span
        > Masyarakat NTB mulai dari jenjang D1 s/d S3.
      </p>
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Informasi Pelaksanaan Program <br />
        <span class="text-sm font-normal italic"
          >Geser atau scroll menggunakan mouse untuk berita lainnya</span
        >
      </h2>
      <!-- <BeritaProgram client:visible /> -->
      <BeritaProgram client:visible />
    </div>
  </main>
</Layout>
