---
import Layout from "../../layouts/Layout.astro";
import BeritaProgram from "@components/page-components/program/BeritaProgram";
---

<Layout title="Detail Program BRIDA NTB" menu={3}>
  <hr />
  <main class="max-w-3xl pt-5 lg:pt-10 xl:pt-10 mx-auto">
    <section
      class="min-h-20 h-20 mb-10 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg rounded-lg relative py-40 md:py-46 xl:py-40"
    >
      <img
        src="https://images.unsplash.com/photo-1581093577421-f561a654a353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fHJlc2VhcmNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        loading="lazy"
        alt="Landing Foto BRIDA NTB"
        class="w-full h-full object-cover object-center absolute inset-0"
      />
      <div class="bg-blue-500 mix-blend-multiply absolute inset-0"></div>
      <div class="sm:max-w-5xl flex flex-col items-center relative p-4">
        <p
          class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center"
        >
          Program
        </p>
        <h1
          class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center"
        >
          Desiminasi Hasil Riset
        </h1>
      </div>
    </section>
    <div class="bg-white">
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Deskripsi Program
      </h2>
      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Program Desiminasi Hasil Riset merupakan salah satu program dari bidang
        pemanfaat riset dan inovasi yang bertujuan untuk melakukan sosialisasi
        hasil riset dan inovasi yang ada di Provinsi Nusa Tenggara Barat ke
        masyarakat luas. Melalui program ini, masyarakat NTB diberikan
        kesempatan untuk berinovasi lalu mendaftarkan hasil inovasi tersebut ke
        BRIDA NTB untuk dilakukan standarisasi, sehingga produk dari hasil
        inovasi tersebut dapat bersaing di tingkat Nasional maupun
        Internasional.
      </p>

      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Pelaksanaan Program
      </h2>

      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Saat ini bidang pemanfaatan riset dan inovasi masih melakukan pengolahan
        data mengenai riset dan inovasi yang ada di seluruh daerah Provinsi Nusa
        Tenggara Barat sebelum dilakukan sosialisasi dan pengenalan. Bentuk
        sosialisasi ini nantinya sangat beragam, dalam bentuk video berupa
        Podcast, maupun dalam bentuk tulisan berupa blog.
      </p>
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Informasi Pelaksanaan Program <br />
        <span class="text-sm font-normal italic"
          >Geser atau scroll menggunakan mouse untuk berita lainnya</span
        >
      </h2>
      <BeritaProgram client:visible />
    </div>
  </main>
</Layout>
