---
import Layout from "../../layouts/Layout.astro";
import BeritaProgram from "@components/page-components/program/BeritaProgram";
---

<Layout title="Detail Program BRIDA NTB" menu={3}>
  <hr />
  <main class="max-w-3xl pt-5 lg:pt-10 xl:pt-10 mx-auto">
    <section
      class="min-h-20 h-20 mb-10 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg rounded-lg relative py-40 md:py-46 xl:py-40"
    >
      <img
        src="https://images.unsplash.com/photo-1585980243496-fe29a36bd382?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c2Nob29sJTIwdHJpcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
        loading="lazy"
        alt="Landing Foto BRIDA NTB"
        class="w-full h-full object-cover object-center absolute inset-0"
      />
      <div class="bg-blue-500 mix-blend-multiply absolute inset-0"></div>
      <div class="sm:max-w-5xl flex flex-col items-center relative p-4">
        <p
          class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center"
        >
          Program
        </p>
        <h1
          class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center"
        >
          Indeks Pengelolaan Keuangan Daerah
        </h1>
      </div>
    </section>
    <div class="bg-white">
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Deskripsi Program
      </h2>
      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Indeks Pengelolaan Keuangan Daerah (IPKD) merupakan penilaian kinerja
        tata kelola keuangan daerah oleh KEMENDAGRI. Nantinya, nilai hasil IPKD
        dikelompokkan berdasarkan kemampuan keuangan daerah dengan kategori yang
        telah di tetapkan.
      </p>

      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Untuk memenuhi enam dimensi IPKD, berikut merupakan beberapa kegiatan
        yang dilakukan, dimulai dengan Sosialisasi IPKD antar Provinsi dan
        Kabupaten Kota, membentuk Tim IPKD yang terlibat, melakukan pendampingan
        dalam pengisian IPKD dan melakukan pengukuran pengisian IPKD
        Kabupaten/Kota yang selanjutnya menyusun SK Gubernur tentang hasil
        pengukuran IPKD yang telah diukur oleh Tim IPKD untuk tingkat Kabupaten
        dan Kota.
      </p>

      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Pelaksanaan Program
      </h2>

      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Bidang Penelitian dan Pengembangan Inovasi dan Teknologi BRIDA NTB telah
        melakukan sosialisasi dan mengikuti Bimbingan Teknis Oleh Kemendagri
        terkait IPKD Regon III. Pengisian IPKD Provinsi NTB Tahun 2022 juga
        telah 100% diselesaikan dan diserahkan Tim IPKD Provinsi NTB ke
        KEMENDAGRI.
      </p>
      <!-- <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Informasi Pelaksanaan Program <br />
        <span class="text-sm font-normal italic"
          >Geser atau scroll menggunakan mouse untuk berita lainnya</span
        >
      </h2> -->
      <!-- <BeritaProgram client:visible /> -->
    </div>
  </main>
</Layout>
