---
import Layout from "../../layouts/Layout.astro";
import BeritaProgram from "../../components/page-components/program/BeritaProgram";
---

<Layout title="Detail Program BRIDA NTB" menu={3}>
  <hr />
  <main class="max-w-3xl pt-5 lg:pt-10 xl:pt-10 mx-auto">
    <section
      class="min-h-20 h-20 mb-10 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg rounded-lg relative py-40 md:py-46 xl:py-40"
    >
      <img
        src="https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xhc3Nyb29tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
        loading="lazy"
        alt="Landing Foto BRIDA NTB"
        class="w-full h-full object-cover object-center absolute inset-0"
      />
      <div class="bg-blue-500 mix-blend-multiply absolute inset-0"></div>
      <div class="sm:max-w-5xl flex flex-col items-center relative p-4">
        <p
          class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center"
        >
          Program
        </p>
        <h1
          class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center"
        >
          Rumah Bahasa
        </h1>
      </div>
    </section>
    <div class="bg-white">
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Deskripsi Program
      </h2>
      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Rumah Bahasa merupakan program yang dibentuk untuk mendukung terjalannya
        program Beasiswa NTB. Rumah Bahasa memberikan pelatihan peningkatan dan
        penguatan kapasitas berbahasa asing bagi masyarakat NTB. Tujuan
        peningkatan bahasa asing dimaksudkan untuk membuka peluang bagi yang
        ingin melanjutkan sekolah ke luar negeri maupun untuk keperluan
        peningkatan kapasitas pada tempat kerja.
      </p>

      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Pelaksanaan Program
      </h2>

      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify">
        Sejauh ini, program Rumah bahasa telah dilaksanakan di seluruh
        Kabupaten/Kota yang ada di Provinsi Nusa Tenggara Barat dengan
        menyediakan Tutor - Tutor terbaik Nusa Tenggara Barat yang akan
        membimbing peserta Rumah Bahasa selama kegiatan pelatihan. Di akhir
        pelatihan, seluruh peserta Rumah Bahasa nantinya akan diberikan ujian
        sertifikasi bahasa asing (TOEFL/IELTS) secara gratis.
      </p>
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">
        Informasi Pelaksanaan Program <br />
        <span class="text-sm font-normal italic"
          >Geser atau scroll menggunakan mouse untuk berita lainnya</span
        >
      </h2>
      <BeritaProgram client:visible />
    </div>
  </main>
</Layout>
