---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Profil BRIDA NTB">
<section
    class="min-h-20 h-20 mb-10 flex justify-center items-center flex-1 shrink-0 bg-blue-900 overflow-hidden shadow-lg relative py-40 md:py-46 xl:py-44"
    slot="hero"
  >
    <div class="absolute inset-0 w-full h-full">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="530" preserveAspectRatio="none" viewBox="0 0 1440 530">
        <g mask="url(&quot;#SvgjsMask4334&quot;)" fill="none">
            <rect width="1440" height="530" x="0" y="0" fill="rgba(31, 58, 138, 1)"></rect>
            <rect width="264" height="264" clip-path="url(&quot;#SvgjsClipPath4335&quot;)" x="529.12" y="-113.59" fill="url(#SvgjsPattern4336)" transform="rotate(272.25, 661.12, 18.41)"></rect>
            <path d="M673.05 517.4 L546.17 444.3L539.3040821043005 551.1559178956994z" stroke="rgba(27, 134, 241, 1)" stroke-width="1.61" stroke-dasharray="4, 4"></path>
            <rect width="140.16" height="140.16" clip-path="url(&quot;#SvgjsClipPath4337&quot;)" x="1283.19" y="184.67" fill="url(#SvgjsPattern4338)" transform="rotate(43.99, 1353.27, 254.75)"></rect>
            <path d="M806.19 418.18L794.9 412.16 798.29 399.81 786.99 393.79 790.39 381.44 779.09 375.41 782.49 363.07M813.54 415.02L802.24 409 805.64 396.65 794.34 390.63 797.74 378.28 786.44 372.25 789.84 359.9" stroke="rgba(27, 134, 241, 1)" stroke-width="2.23" stroke-dasharray="3, 3"></path>
            <path d="M1263.71 178.94a5.6 5.6 0 1 0 7.59 8.24 5.6 5.6 0 1 0-7.59-8.24zM1274.55 190.71a5.6 5.6 0 1 0 7.59 8.24 5.6 5.6 0 1 0-7.59-8.24zM1285.39 202.48a5.6 5.6 0 1 0 7.59 8.24 5.6 5.6 0 1 0-7.59-8.24zM1296.23 214.25a5.6 5.6 0 1 0 7.59 8.23 5.6 5.6 0 1 0-7.59-8.23z" stroke="rgba(27, 134, 241, 1)" stroke-width="1" stroke-dasharray="2, 2"></path>
            <rect width="72" height="72" clip-path="url(&quot;#SvgjsClipPath4339&quot;)" x="807.33" y="-7.36" fill="url(#SvgjsPattern4340)" transform="rotate(307.19, 843.33, 28.64)"></rect>
            <rect width="129.84" height="129.84" clip-path="url(&quot;#SvgjsClipPath4341&quot;)" x="8.96" y="393" fill="url(#SvgjsPattern4342)" transform="rotate(303.97, 73.88, 457.92)"></rect>
            <rect width="333.64" height="333.64" clip-path="url(&quot;#SvgjsClipPath4343&quot;)" x="731.62" y="36.8" fill="url(#SvgjsPattern4344)" transform="rotate(203.78, 898.44, 203.62)"></rect>
            <path d="M1240.9 188.5a5.6 5.6 0 1 0 10.86 2.75 5.6 5.6 0 1 0-10.86-2.75zM1256.41 192.42a5.6 5.6 0 1 0 10.86 2.75 5.6 5.6 0 1 0-10.86-2.75zM1271.92 196.34a5.6 5.6 0 1 0 10.86 2.75 5.6 5.6 0 1 0-10.86-2.75zM1287.44 200.26a5.6 5.6 0 1 0 10.86 2.74 5.6 5.6 0 1 0-10.86-2.74zM1205.96 196.18a5.6 5.6 0 1 0 10.85 2.74 5.6 5.6 0 1 0-10.85-2.74zM1221.47 200.1a5.6 5.6 0 1 0 10.86 2.74 5.6 5.6 0 1 0-10.86-2.74zM1236.98 204.02a5.6 5.6 0 1 0 10.86 2.74 5.6 5.6 0 1 0-10.86-2.74zM1252.49 207.93a5.6 5.6 0 1 0 10.86 2.75 5.6 5.6 0 1 0-10.86-2.75z" stroke="rgba(27, 134, 241, 1)" stroke-width="1" stroke-dasharray="2, 2"></path>
            <rect width="135.8" height="135.8" clip-path="url(&quot;#SvgjsClipPath4345&quot;)" x="-20.85" y="202.52" fill="url(#SvgjsPattern4346)" transform="rotate(272.66, 47.05, 270.42)"></rect>
            <path d="M1079.29 6.04a5.6 5.6 0 1 0 8.98 6.69 5.6 5.6 0 1 0-8.98-6.69zM1092.12 15.59a5.6 5.6 0 1 0 8.99 6.69 5.6 5.6 0 1 0-8.99-6.69zM1104.96 25.14a5.6 5.6 0 1 0 8.99 6.68 5.6 5.6 0 1 0-8.99-6.68zM1117.8 34.69a5.6 5.6 0 1 0 8.99 6.68 5.6 5.6 0 1 0-8.99-6.68z" stroke="rgba(27, 134, 241, 1)" stroke-width="2.84" stroke-dasharray="2, 2"></path>
            <path d="M320.35 161.68a5.6 5.6 0 1 0-10.7-3.28 5.6 5.6 0 1 0 10.7 3.28zM305.06 156.99a5.6 5.6 0 1 0-10.71-3.28 5.6 5.6 0 1 0 10.71 3.28zM289.76 152.3a5.6 5.6 0 1 0-10.71-3.28 5.6 5.6 0 1 0 10.71 3.28zM274.46 147.62a5.6 5.6 0 1 0-10.71-3.28 5.6 5.6 0 1 0 10.71 3.28zM355.64 155.75a5.6 5.6 0 1 0-10.71-3.28 5.6 5.6 0 1 0 10.71 3.28zM340.34 151.06a5.6 5.6 0 1 0-10.71-3.28 5.6 5.6 0 1 0 10.71 3.28zM325.04 146.38a5.6 5.6 0 1 0-10.71-3.28 5.6 5.6 0 1 0 10.71 3.28zM309.74 141.69a5.6 5.6 0 1 0-10.71-3.28 5.6 5.6 0 1 0 10.71 3.28z" stroke="rgba(27, 134, 241, 1)" stroke-width="1.73" stroke-dasharray="2, 2"></path>
            <rect width="60" height="60" clip-path="url(&quot;#SvgjsClipPath4347&quot;)" x="961.13" y="13.78" fill="url(#SvgjsPattern4348)" transform="rotate(1.6, 991.13, 43.78)"></rect>
        </g>
        <defs>
            <mask id="SvgjsMask4334">
                <rect width="1440" height="530" fill="#ffffff"></rect>
            </mask>
            <pattern x="0" y="0" width="8.8" height="8.8" patternUnits="userSpaceOnUse" id="SvgjsPattern4336">
                <path d="M0 8.8L4.4 0L8.8 8.8" stroke="rgba(27, 134, 241, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath4335">
                <circle r="66" cx="661.12" cy="18.41"></circle>
            </clipPath>
            <pattern x="0" y="0" width="11.68" height="11.68" patternUnits="userSpaceOnUse" id="SvgjsPattern4338">
                <path d="M0 11.68L5.84 0L11.68 11.68" stroke="rgba(27, 134, 241, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath4337">
                <circle r="35.04" cx="1353.27" cy="254.75"></circle>
            </clipPath>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern4340">
                <path d="M0 6L3 0L6 6" stroke="rgba(27, 134, 241, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath4339">
                <circle r="18" cx="843.33" cy="28.64"></circle>
            </clipPath>
            <pattern x="0" y="0" width="129.84" height="10.82" patternUnits="userSpaceOnUse" id="SvgjsPattern4342">
                <rect width="129.84" height="5.41" x="0" y="0" fill="rgba(27, 134, 241, 1)"></rect>
                <rect width="129.84" height="5.41" x="0" y="5.41" fill="rgba(0, 0, 0, 0)"></rect>
            </pattern>
            <clipPath id="SvgjsClipPath4341">
                <circle r="32.46" cx="73.88" cy="457.92"></circle>
            </clipPath>
            <pattern x="0" y="0" width="8.78" height="8.78" patternUnits="userSpaceOnUse" id="SvgjsPattern4344">
                <path d="M0 8.78L4.39 0L8.78 8.78" stroke="rgba(27, 134, 241, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath4343">
                <circle r="83.41" cx="898.44" cy="203.62"></circle>
            </clipPath>
            <pattern x="0" y="0" width="13.58" height="13.58" patternUnits="userSpaceOnUse" id="SvgjsPattern4346">
                <path d="M0 13.58L6.79 0L13.58 13.58" stroke="rgba(27, 134, 241, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath4345">
                <circle r="33.95" cx="47.05" cy="270.42"></circle>
            </clipPath>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern4348">
                <path d="M3 1L3 5M1 3L5 3" stroke="rgba(27, 134, 241, 1)" fill="none" stroke-width="1"></path>
            </pattern>
            <clipPath id="SvgjsClipPath4347">
                <circle r="15" cx="991.13" cy="43.78"></circle>
            </clipPath>
        </defs>
    </svg>
    </div>
    <div class="sm:max-w-5xl flex flex-col items-center relative p-4">
      <h1
        class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center flex items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-10 sm:w-12 md:w-16 lg:w-16 xl:w-16 mr-1"
        >
          <path
            d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z"
          ></path>
          <path
            d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z"
          ></path>
        </svg>

        Layanan
      </h1>
      <p
        class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center relative top-5"
      >
        Badan Riset dan Inovasi Daerah NTB
      </p>
    </div>
  </section>
</Layout>