<section class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mb-10 md:mb-16">
    <h2
      class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"
    >
      Tugas dan Fungsi PPID
    </h2>

    <p
      class="max-w-screen-xl text-gray-500 md:text-lg md:text-center mx-auto text-justify"
    >
      Berdasarkan Peraturan Gubernur No. 24 Tahun 2018 tentang Tata Kerja
      Pejabat Pengelola Informasi dan Data Pemerintah Provinsi NTB, PPID BRIDA
      NTB diharapkan dapat memberikan pelayanan informasi yang berkualitas
      kepada publik guna mewujudkan penyelenggaraan pemerintah yang baik,
      terbuka, efektif dan efisien akuntabel serta dapat dipertangggung
      jawabkan.
    </p>
    <p
      class="max-w-screen-md text-gray-500 md:text-lg md:text-center mx-auto text-justify"
    >
      Selengkapnya silahkan
      <a
        href="/program"
        class="text-blue-900 mx-auto hover:text-blue-600 active:text-blue-700 font-bold transition duration-100 underline"
        >klik disini
      </a>
    </p>
  </div>

  <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16">
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <h1 class="text-2xl font-bold">T1</h1>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Tugas Pertama</h3>
          <p class="text-gray-500 mb-2">
            Melaksanakan kebijakan penyelenggaraan pelayanan informasi publik
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <h1 class="text-2xl font-bold">T2</h1>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Tugas Kedua</h3>
          <p class="text-gray-500 mb-2">
            Mendokumentasikan, memverifikasi, menyusun, menyimpan dan mengelola
            bahan-bahan Informasi publik
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <h1 class="text-2xl font-bold">T3</h1>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Tugas Ketiga</h3>
          <p class="text-gray-500 mb-2">
            Mendokumentasikan, Menyimpan menyediakan, dan memberi pelayanan
            informasi publik
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <h1 class="text-2xl font-bold">T4</h1>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Tugas Keempat</h3>
          <p class="text-gray-500 mb-2">
            Mengajukan permohonan konsultasi uji konsekuensi untuk pengecualian
            informasi kepada PPID Provinsi
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <h1 class="text-2xl font-bold">T5</h1>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Tugas Kelima</h3>
          <p class="text-gray-500 mb-2">
            Konsultasi upaya penyelesaian sengketa informasi publik kepada PPID
            Provinsi
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border rounded-lg p-4 md:p-6">
      <div class="flex gap-4 md:gap-6">
        <div
          class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-blue-900 text-white rounded-lg md:rounded-xl shadow-lg"
        >
          <h1 class="text-2xl font-bold">T6</h1>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Tugas Keenam</h3>
          <p class="text-gray-500 mb-2">
            Melaksanakan tugas-tugas yang diberikan oleh PPID Provinsi
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
