---
import Layout from "@layouts/Layout.astro";
import TitlePage from "@components/page-components/profil/title-page.astro";
---

<Layout title="Profil BRIDA NTB" menu={2}>
  <TitlePage
    slot="hero"
    title="Bidang-Bidang Badan Riset dan Inovasi Daerah NTB"
  />
  <div class="flex gap-10 my-10 flex-col md:flex-row">
    <div
      class="flex items-center bg-slate-100 p-5 lg:gap-10 flex-1 rounded-lg flex-col lg:flex-row"
    >
      <div class="flex w-[260px] flex-col items-center lg:border-r lg:pr-10">
        <div
          class="w-24 md:w-32 h-24 md:h-32 bg-slate-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4"
        >
          <img
            src="/foto-team/Kabid PPIT.jpg"
            loading="lazy"
            alt="Photo by Radu Florin"
            class="w-full h-full object-cover object-center"
          />
        </div>
        <div class="text-blue-900 md:text-lg font-bold text-center">
          Lalu Suryadi, SP.MM.
        </div>
        <p class="text-gray-500 text-sm md:text-base text-center mb-3 md:mb-4">
          Kepala Bidang
        </p>
      </div>
      <div class="flex flex-1 flex-col gap-3">
        <h1
          class="text-gray-800 text-lg font-bold text-gray-500 leading-[22px] text-center lg:text-left"
        >
          Bidang Penelitian Pengembangan Inovasi dan Teknologi
        </h1>
        <p class="text-sm text-justify">
          Bidang Penelitian Pengembangan Inovasi dan Tekonologi memfasilitasi
          masyarakat dan OPD terkait dalam bidang penelitian dan pengembangan.
          Sejauh ini, bidang PPIT telah berhasil memfasilitasi lebih dari 100
          unit Prototype pemesinan.
        </p>
        <a
          href="/profil/bidang/penelitian-pengembangan-inovasi-dan-teknologi"
          class="w-fit rounded-md text-sm font-bold text-blue-900"
          >Selengkapnya</a
        >
      </div>
    </div>
    <div
      class="flex items-center bg-slate-100 p-5 lg:gap-10 flex-1 rounded-lg flex-col lg:flex-row"
    >
      <div
        class="flex w-[260px] flex-col items-center rounded-lg lg:border-r lg:pr-10"
      >
        <div
          class="w-24 md:w-32 h-24 md:h-32 bg-slate-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4"
        >
          <img
            src="/foto-team/Kabid PSDI.jpg"
            loading="lazy"
            alt="Photo by Radu Florin"
            class="w-full h-full object-cover object-center"
          />
        </div>
        <div class="text-blue-900 md:text-lg font-bold text-center">
          Ahmad Muslim, S.Pd
        </div>
        <p class="text-gray-500 text-sm md:text-base text-center mb-3 md:mb-4">
          Kepala Bidang
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-3">
        <h1
          class="text-gray-800 text-lg font-bold text-gray-500 leading-[22px] text-center lg:text-left"
        >
          Bidang Pengembangan Sumber Daya Ilmu Pengetahuan dan Teknologi
        </h1>
        <p class="text-sm text-justify">
          Bidang Pengembangan Sumber Daya Ilmu Pengetahuan dan Teknologi
          memfasilitasi Masyarakat dan OPD terkait melalui Uji kompetensi
          profesi, Standarisasi, dan Sertifikasi Produk. Bidang PSDI juga
          menyediakan Program pengembangan SDM seperti Beasiswa NTB dan Rumah
          Bahasa.
        </p>
        <a
          href="/profil/bidang/pengembangan-sumber-daya-ilmu-pengetahuan-dan-teknologi"
          class="w-fit rounded-md text-sm font-bold text-blue-900"
          >Selengkapnya</a
        >
      </div>
    </div>
  </div>
  <div class="flex gap-10 flex-col md:flex-row">
    <div
      class="flex items-center bg-slate-100 p-5 lg:gap-10 flex-1 rounded-lg flex-col lg:flex-row"
    >
      <div
        class="flex w-[260px] flex-col items-center rounded-lg lg:border-r lg:pr-10"
      >
        <div
          class="w-24 md:w-32 h-24 md:h-32 bg-slate-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4"
        >
          <img
            src="/foto-team/Kabid KIB.jpg"
            loading="lazy"
            alt="Photo by Radu Florin"
            class="w-full h-full object-cover object-center"
          />
        </div>
        <div class="text-blue-900 md:text-lg font-bold text-center">
          Iskandar Sukmana M.Pd
        </div>
        <p class="text-gray-500 text-sm md:text-base text-center mb-3 md:mb-4">
          Kepala Bidang
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-3">
        <h1
          class="text-gray-800 text-lg font-bold text-gray-500 leading-[22px] text-center lg:text-left"
        >
          Bidang Kemitraan dan Inkubasi Bisnis
        </h1>
        <p class="text-sm text-justify">
          Bidang Kemitraan dan Inkubasi melayani dan memfasilitasi masyarakat
          dari mahasiswa, pelajar, guru dan akademisi hingga dunia usaha dalam
          mengembangkan bisnis melalui Program Inkubasi Bisnis dan Kemitraan.
        </p>
        <a
          href="/profil/bidang/kemitraan-dan-inkubasi-bisnis"
          class="w-fit rounded-md text-sm font-bold text-blue-900"
          >Selengkapnya</a
        >
      </div>
    </div>
    <div
      class="flex items-center bg-slate-100 p-5 lg:gap-10 flex-1 rounded-lg flex-col lg:flex-row"
    >
      <div
        class="flex w-[260px] flex-col items-center rounded-lg lg:border-r lg:pr-10"
      >
        <div
          class="w-24 md:w-32 h-24 md:h-32 bg-slate-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4"
        >
          <img
            src="/foto-team/Kabid PRI.jpg"
            loading="lazy"
            alt="Photo by Radu Florin"
            class="w-full h-full object-cover object-center"
          />
        </div>
        <div class="text-blue-900 md:text-lg font-bold text-center">
          Lale Ira Amrita Sari, ST
        </div>
        <p class="text-gray-500 text-sm md:text-base text-center mb-3 md:mb-4">
          Kepala Bidang
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-3">
        <h1
          class="text-gray-800 text-lg font-bold text-gray-500 leading-[22px] text-center lg:text-left"
        >
          Bidang Pemanfaatan Riset dan Inovasi
        </h1>
        <p class="text-sm text-justify">
          Bidang Pemanfaatan Riset dan Inovasi berperan sebagai etalase ilmu
          pengetahuan teknologi, sebagai pusat Inovasi NTB, serta Pengelolaan
          Kawasan Edusiwata Teknologi
        </p>
        <a
          href="/profil/bidang/pemanfaatan-riset-dan-inovasi"
          class="w-fit rounded-md text-sm font-bold text-blue-900"
          >Selengkapnya</a
        >
      </div>
    </div>
  </div>
</Layout>
