---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/page-components/landing/HeroSection.astro";
import ProgramSection from "../components/page-components/landing/ProgramSection.astro";
import InformasiSection from "../components/global-components/InformasiSection.astro";
import BeritaSection from "../components/global-components/BeritaSection.astro";
import TeamSection from "../components/page-components/landing/TeamSection.astro";
---

<Layout title="BRIDA NTB" menu={1}>
  <main>
    <HeroSection />
    <ProgramSection />
    <InformasiSection />
    <BeritaSection />
    <TeamSection />
  </main>
</Layout>
