---
import Layout from "../../layouts/Layout.astro";
import InformasiSection from "../../components/global-components/InformasiSection.jsx";
import MenuSection from "../../components/page-components/informasi/MenuSection.astro";
import StatistikSection from "../../components/page-components/informasi/StatistikSection.astro";
import BeritaSection from "../../components/global-components/BeritaSection.jsx";
import background from "../../assets/informasiBackground.svg";
---

<Layout title="Informasi Seputar BRIDA NTB" menu={3}>
  <section
    class="min-h-20 h-20 mb-10 flex justify-center items-center flex-1 shrink-0 bg-blue-900 overflow-hidden shadow-lg relative py-40 md:py-46 xl:py-44"
    slot="hero"
  >
    <div class="absolute inset-0 w-full h-full">
      <img src={background} />
    </div>
    <div class="sm:max-w-5xl flex flex-col items-center relative p-4">
      <h1
        class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center flex items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-10 sm:w-12 md:w-16 lg:w-16 xl:w-16 mr-1"
        >
          <path
            fill-rule="evenodd"
            d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z"
            clip-rule="evenodd"></path>
          <path
            d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z"
          ></path>
        </svg>

        Informasi
      </h1>
      <p
        class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center relative top-5"
      >
        Badan Riset dan Inovasi Daerah NTB
      </p>
    </div>
  </section>
  <MenuSection />
  <InformasiSection client:load />
  <BeritaSection client:load />
  <StatistikSection />
</Layout>
