---
import Layout from "../../layouts/Layout.astro";
import BeritaSection from "../../components/page-components/landing/BeritaSection.astro";
import InformasiSection from "../../components/page-components/landing/InformasiSection.astro";
---

<Layout title="Informasi Seputar BRIDA NTB" menu={3}>
  <section
    class="min-h-20 h-20 mb-10 flex justify-center items-center flex-1 shrink-0 bg-gradient-to-r from-blue-900 to-blue-500 overflow-hidden shadow-lg rounded-lg relative py-40 md:py-46 xl:py-40"
  >
    <div class="sm:max-w-5xl flex flex-col items-center relative p-4">
      <h1
        class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center flex items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-10 sm:w-12 md:w-16 lg:w-16 xl:w-16 mr-1"
        >
          <path
            fill-rule="evenodd"
            d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z"
            clip-rule="evenodd"></path>
          <path
            d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z"
          ></path>
        </svg>

        Informasi
      </h1>
      <p
        class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center relative top-5"
      >
        Badan Riset dan Inovasi Daerah NTB
      </p>
    </div>
  </section>
  <div
    class="w-full lg:block bg-gray-50 border rounded-lg shadow-sm overflow-hidden"
  >
    <div
      class="max-w-screen-lg flex items-center gap-8 p-8 mx-auto flex-col md:flex-col lg:flex-row"
    >
      <div
        class="w-full xl:w-2/3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8"
      >
        <!-- link - start -->
        <a href="#" class="group flex gap-4">
          <div
            class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-500 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
            </svg>
          </div>

          <div>
            <div class="font-semibold mb-1">Berita</div>
            <p class="text-sm text-gray-500">
              This is a section of some simple filler text, also known as
              placeholder text.
            </p>
          </div>
        </a>
        <!-- link - end -->

        <!-- link - start -->
        <a href="#" class="group flex gap-4">
          <div
            class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-500 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
              ></path>
            </svg>
          </div>

          <div>
            <div class="font-semibold mb-1">Program</div>
            <p class="text-sm text-gray-500">
              This is a section of some simple filler text, also known as
              placeholder text.
            </p>
          </div>
        </a>
        <!-- link - end -->

        <!-- link - start -->
        <a href="#" class="group flex gap-4">
          <div
            class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-500 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"
              ></path>
            </svg>
          </div>

          <div>
            <div class="font-semibold mb-1">Video</div>
            <p class="text-sm text-gray-500">
              This is a section of some simple filler text, also known as
              placeholder text.
            </p>
          </div>
        </a>
        <!-- link - end -->

        <!-- link - start -->
        <a href="#statistik" class="group flex gap-4">
          <div
            class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-500 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
              ></path>
            </svg>
          </div>

          <div>
            <div class="font-semibold mb-1">Statistik</div>
            <p class="text-sm text-gray-500">
              This is a section of some simple filler text, also known as
              placeholder text.
            </p>
          </div>
        </a>
        <!-- link - end -->
      </div>

      <!-- promo - start -->
      <div class="w-full xl:w-1/2 border rounded-lg overflow-hidden">
        <div class="h-48 bg-gray-100">
          <img
            src="https://images.unsplash.com/photo-1619118884592-11b151f1ae11?auto=format&q=75&fit=crop&w=320"
            loading="lazy"
            alt="Photo by Fakurian Design"
            class="w-full h-full object-cover object-center"
          />
        </div>

        <div class="flex justify-between items-center bg-white gap-2 p-3">
          <p class="text-gray-500 text-sm">This is some simple filler text.</p>

          <a
            href="#"
            class="inline-block shrink-0 bg-white hover:bg-gray-50 active:bg-gray-100 focus-visible:ring ring-indigo-300 text-indigo-500 text-sm font-semibold border rounded-lg outline-none transition duration-100 px-3 py-1"
            >More</a
          >
        </div>
      </div>
      <!-- promo - end -->
    </div>
  </div>
  <!-- menu - end -->
  <InformasiSection />
  <BeritaSection />
  <div
    class="py-6 sm:py-8 lg:py-12 rounded-lg px-4 bg-gray-50 border mt-10"
    id="statistik"
  >
    <div class="max-w-screen-md lg:px-4 md:px-8 mx-auto">
      <!-- text - start -->
      <div class="mb-8 md:mb-12">
        <h2
          class="text-blue-500 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"
        >
          Statistik Penyebaran Informasi
        </h2>

        <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">
          Penyebaran informasi mengenai program, berita, maupun kegiatan yang
          dilakukan oleh BRIDA NTB berfokus pada beberapa sosial media seperti
          Youtube, Instagram dan Facebook
        </p>
      </div>
      <!-- text - end -->

      <div
        class="grid grid-cols-2 md:grid-cols-3 bg-blue-500 rounded-lg gap-6 md:gap-8 p-6 md:p-8"
      >
        <!-- stat - start -->
        <div class="flex flex-col items-center">
          <div class="text-white text-xl sm:text-2xl md:text-3xl font-bold">
            63+ Berita
          </div>
          <div class="text-indigo-200 text-sm sm:text-base flex gap-2 mt-2">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32ZM9.4375 8.375C8.50579 8.375 7.75 9.13079 7.75 10.0625V21C7.75 21.6962 8.02656 22.3639 8.51884 22.8562C9.01113 23.3484 9.67881 23.625 10.375 23.625H21.625C22.3212 23.625 22.9889 23.3484 23.4812 22.8562C23.9734 22.3639 24.25 21.6962 24.25 21V13.1875C24.25 12.2558 23.4942 11.5 22.5625 11.5H20.5V10.0625C20.5 9.13079 19.7442 8.375 18.8125 8.375H9.4375ZM10.375 22.125H19.2533C19.0881 21.7767 19 21.3929 19 21V12.25V10.0625C19 9.95921 18.9158 9.875 18.8125 9.875H9.4375C9.33421 9.875 9.25 9.95921 9.25 10.0625V21C9.25 21.2984 9.36853 21.5845 9.5795 21.7955C9.79048 22.0065 10.0766 22.125 10.375 22.125ZM20.5 21V13H22.5625C22.6658 13 22.75 13.0842 22.75 13.1875V21C22.75 21.2984 22.6315 21.5845 22.4205 21.7955C22.2095 22.0065 21.9234 22.125 21.625 22.125C21.3266 22.125 21.0405 22.0065 20.8295 21.7955C20.6185 21.5845 20.5 21.2984 20.5 21ZM11 11.5C10.5858 11.5 10.25 11.8358 10.25 12.25V14.75C10.25 15.1642 10.5858 15.5 11 15.5H13.5C13.9142 15.5 14.25 15.1642 14.25 14.75V12.25C14.25 11.8358 13.9142 11.5 13.5 11.5H11ZM11.75 14V13H12.75V14H11.75ZM16 11.5C15.5858 11.5 15.25 11.8358 15.25 12.25C15.25 12.6642 15.5858 13 16 13H17.25C17.6642 13 18 12.6642 18 12.25C18 11.8358 17.6642 11.5 17.25 11.5H16ZM16 14C15.5858 14 15.25 14.3358 15.25 14.75C15.25 15.1642 15.5858 15.5 16 15.5H17.25C17.6642 15.5 18 15.1642 18 14.75C18 14.3358 17.6642 14 17.25 14H16ZM11 16.5C10.5858 16.5 10.25 16.8358 10.25 17.25C10.25 17.6642 10.5858 18 11 18H17.25C17.6642 18 18 17.6642 18 17.25C18 16.8358 17.6642 16.5 17.25 16.5H11ZM11 19C10.5858 19 10.25 19.3358 10.25 19.75C10.25 20.1642 10.5858 20.5 11 20.5H17.25C17.6642 20.5 18 20.1642 18 19.75C18 19.3358 17.6642 19 17.25 19H11Z"
                fill="white"></path>
            </svg>
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM16 8C20.4 8 24 11.6 24 16C24 20 21.1 23.4 17.1 24V18.3H19L19.4 16H17.2V14.5C17.2 13.9 17.5 13.3 18.5 13.3H19.5V11.3C19.5 11.3 18.6 11.1 17.7 11.1C15.9 11.1 14.7 12.2 14.7 14.2V16H12.7V18.3H14.7V23.9C10.9 23.3 8 20 8 16C8 11.6 11.6 8 16 8Z"
                fill="#fff"></path>
            </svg>
          </div>
        </div>
        <!-- stat - end -->

        <!-- stat - start -->
        <div class="flex flex-col items-center">
          <div class="text-white text-xl sm:text-2xl md:text-3xl font-bold">
            10+ Video
          </div>
          <div class="text-indigo-200 text-sm sm:text-base flex gap-2 mt-2">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 18.8C14.5 18.8 13.2 17.6 13.2 16C13.2 14.5 14.4 13.2 16 13.2C17.5 13.2 18.8 14.4 18.8 16C18.8 17.5 17.5 18.8 16 18.8Z"
                fill="#fff"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.4 9.2H12.6C11.8 9.3 11.4 9.4 11.1 9.5C10.7 9.6 10.4 9.8 10.1 10.1C9.86261 10.3374 9.75045 10.5748 9.61489 10.8617C9.57916 10.9373 9.5417 11.0166 9.5 11.1C9.48453 11.1464 9.46667 11.1952 9.44752 11.2475C9.34291 11.5333 9.2 11.9238 9.2 12.6V19.4C9.3 20.2 9.4 20.6 9.5 20.9C9.6 21.3 9.8 21.6 10.1 21.9C10.3374 22.1374 10.5748 22.2495 10.8617 22.3851C10.9374 22.4209 11.0165 22.4583 11.1 22.5C11.1464 22.5155 11.1952 22.5333 11.2475 22.5525C11.5333 22.6571 11.9238 22.8 12.6 22.8H19.4C20.2 22.7 20.6 22.6 20.9 22.5C21.3 22.4 21.6 22.2 21.9 21.9C22.1374 21.6626 22.2495 21.4252 22.3851 21.1383C22.4209 21.0626 22.4583 20.9835 22.5 20.9C22.5155 20.8536 22.5333 20.8048 22.5525 20.7525C22.6571 20.4667 22.8 20.0762 22.8 19.4V12.6C22.7 11.8 22.6 11.4 22.5 11.1C22.4 10.7 22.2 10.4 21.9 10.1C21.6626 9.86261 21.4252 9.75045 21.1383 9.61488C21.0627 9.57918 20.9833 9.54167 20.9 9.5C20.8536 9.48453 20.8048 9.46666 20.7525 9.44752C20.4667 9.3429 20.0762 9.2 19.4 9.2ZM16 11.7C13.6 11.7 11.7 13.6 11.7 16C11.7 18.4 13.6 20.3 16 20.3C18.4 20.3 20.3 18.4 20.3 16C20.3 13.6 18.4 11.7 16 11.7ZM21.4 11.6C21.4 12.1523 20.9523 12.6 20.4 12.6C19.8477 12.6 19.4 12.1523 19.4 11.6C19.4 11.0477 19.8477 10.6 20.4 10.6C20.9523 10.6 21.4 11.0477 21.4 11.6Z"
                fill="#fff"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM12.6 7.7H19.4C20.3 7.8 20.9 7.9 21.4 8.1C22 8.4 22.4 8.6 22.9 9.1C23.4 9.6 23.7 10.1 23.9 10.6C24.1 11.1 24.3 11.7 24.3 12.6V19.4C24.2 20.3 24.1 20.9 23.9 21.4C23.6 22 23.4 22.4 22.9 22.9C22.4 23.4 21.9 23.7 21.4 23.9C20.9 24.1 20.3 24.3 19.4 24.3H12.6C11.7 24.2 11.1 24.1 10.6 23.9C10 23.6 9.6 23.4 9.1 22.9C8.6 22.4 8.3 21.9 8.1 21.4C7.9 20.9 7.7 20.3 7.7 19.4V12.6C7.8 11.7 7.9 11.1 8.1 10.6C8.4 10 8.6 9.6 9.1 9.1C9.6 8.6 10.1 8.3 10.6 8.1C11.1 7.9 11.7 7.7 12.6 7.7Z"
                fill="#fff"></path>
            </svg>
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M18.6 16L14.4 13.6V18.4L18.6 16Z" fill="#fff"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM22.2 10.7C22.9 10.9 23.4 11.4 23.6 12.1C24 13.4 24 16 24 16C24 16 24 18.6 23.7 19.9C23.5 20.6 23 21.1 22.3 21.3C21 21.6 16 21.6 16 21.6C16 21.6 10.9 21.6 9.7 21.3C9 21.1 8.5 20.6 8.3 19.9C8 18.6 8 16 8 16C8 16 8 13.4 8.2 12.1C8.4 11.4 8.90001 10.9 9.60001 10.7C10.9 10.4 15.9 10.4 15.9 10.4C15.9 10.4 21 10.4 22.2 10.7Z"
                fill="#fff"></path>
            </svg>
          </div>
        </div>

        <!-- stat - start -->
        <div
          class="flex flex-col items-center col-span-2 sm:col-span-2 md:col-span-1 xl:col-span-1"
        >
          <div class="text-white text-xl sm:text-2xl md:text-3xl font-bold">
            50+ Kegiatan
          </div>
          <div class="text-indigo-200 text-sm sm:text-base flex gap-2 mt-2">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 18.8C14.5 18.8 13.2 17.6 13.2 16C13.2 14.5 14.4 13.2 16 13.2C17.5 13.2 18.8 14.4 18.8 16C18.8 17.5 17.5 18.8 16 18.8Z"
                fill="#fff"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.4 9.2H12.6C11.8 9.3 11.4 9.4 11.1 9.5C10.7 9.6 10.4 9.8 10.1 10.1C9.86261 10.3374 9.75045 10.5748 9.61489 10.8617C9.57916 10.9373 9.5417 11.0166 9.5 11.1C9.48453 11.1464 9.46667 11.1952 9.44752 11.2475C9.34291 11.5333 9.2 11.9238 9.2 12.6V19.4C9.3 20.2 9.4 20.6 9.5 20.9C9.6 21.3 9.8 21.6 10.1 21.9C10.3374 22.1374 10.5748 22.2495 10.8617 22.3851C10.9374 22.4209 11.0165 22.4583 11.1 22.5C11.1464 22.5155 11.1952 22.5333 11.2475 22.5525C11.5333 22.6571 11.9238 22.8 12.6 22.8H19.4C20.2 22.7 20.6 22.6 20.9 22.5C21.3 22.4 21.6 22.2 21.9 21.9C22.1374 21.6626 22.2495 21.4252 22.3851 21.1383C22.4209 21.0626 22.4583 20.9835 22.5 20.9C22.5155 20.8536 22.5333 20.8048 22.5525 20.7525C22.6571 20.4667 22.8 20.0762 22.8 19.4V12.6C22.7 11.8 22.6 11.4 22.5 11.1C22.4 10.7 22.2 10.4 21.9 10.1C21.6626 9.86261 21.4252 9.75045 21.1383 9.61488C21.0627 9.57918 20.9833 9.54167 20.9 9.5C20.8536 9.48453 20.8048 9.46666 20.7525 9.44752C20.4667 9.3429 20.0762 9.2 19.4 9.2ZM16 11.7C13.6 11.7 11.7 13.6 11.7 16C11.7 18.4 13.6 20.3 16 20.3C18.4 20.3 20.3 18.4 20.3 16C20.3 13.6 18.4 11.7 16 11.7ZM21.4 11.6C21.4 12.1523 20.9523 12.6 20.4 12.6C19.8477 12.6 19.4 12.1523 19.4 11.6C19.4 11.0477 19.8477 10.6 20.4 10.6C20.9523 10.6 21.4 11.0477 21.4 11.6Z"
                fill="#fff"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM12.6 7.7H19.4C20.3 7.8 20.9 7.9 21.4 8.1C22 8.4 22.4 8.6 22.9 9.1C23.4 9.6 23.7 10.1 23.9 10.6C24.1 11.1 24.3 11.7 24.3 12.6V19.4C24.2 20.3 24.1 20.9 23.9 21.4C23.6 22 23.4 22.4 22.9 22.9C22.4 23.4 21.9 23.7 21.4 23.9C20.9 24.1 20.3 24.3 19.4 24.3H12.6C11.7 24.2 11.1 24.1 10.6 23.9C10 23.6 9.6 23.4 9.1 22.9C8.6 22.4 8.3 21.9 8.1 21.4C7.9 20.9 7.7 20.3 7.7 19.4V12.6C7.8 11.7 7.9 11.1 8.1 10.6C8.4 10 8.6 9.6 9.1 9.1C9.6 8.6 10.1 8.3 10.6 8.1C11.1 7.9 11.7 7.7 12.6 7.7Z"
                fill="#fff"></path>
            </svg>
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM16 8C20.4 8 24 11.6 24 16C24 20 21.1 23.4 17.1 24V18.3H19L19.4 16H17.2V14.5C17.2 13.9 17.5 13.3 18.5 13.3H19.5V11.3C19.5 11.3 18.6 11.1 17.7 11.1C15.9 11.1 14.7 12.2 14.7 14.2V16H12.7V18.3H14.7V23.9C10.9 23.3 8 20 8 16C8 11.6 11.6 8 16 8Z"
                fill="#fff"></path>
            </svg>
          </div>
        </div>
        <!-- stat - end -->
      </div>
    </div>
  </div>
</Layout>
