<div
  class="w-full lg:block bg-gray-50 border rounded-lg shadow-sm overflow-hidden"
>
  <div
    class="max-w-screen-lg flex items-center gap-8 p-8 mx-auto flex-col-reverse md:flex-col lg:flex-row"
  >
    <div
      class="w-full xl:w-2/3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8"
    >
      <!-- link - start -->
      <a href="/informasi/berita" class="group flex gap-4">
        <div
          class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-900 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M2 3.5A1.5 1.5 0 013.5 2h9A1.5 1.5 0 0114 3.5v11.75A2.75 2.75 0 0016.75 18h-12A2.75 2.75 0 012 15.25V3.5zm3.75 7a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zm0 3a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zM5 5.75A.75.75 0 015.75 5h4.5a.75.75 0 01.75.75v2.5a.75.75 0 01-.75.75h-4.5A.75.75 0 015 8.25v-2.5z"
              clip-rule="evenodd"></path>
            <path
              d="M16.5 6.5h-1v8.75a1.25 1.25 0 102.5 0V8a1.5 1.5 0 00-1.5-1.5z"
            ></path>
          </svg>
        </div>

        <div>
          <div class="font-semibold mb-1">Berita dan Kegiatan</div>
          <p class="text-sm text-gray-500">
            Kumpulan informasi kegiatan BRIDA NTB dalam bentuk Berita.
          </p>
        </div>
      </a>
      <!-- link - end -->

      <!-- link - start -->
      <a href="#" class="group flex gap-4">
        <div
          class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-900 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              d="M10.75 16.82A7.462 7.462 0 0115 15.5c.71 0 1.396.098 2.046.282A.75.75 0 0018 15.06v-11a.75.75 0 00-.546-.721A9.006 9.006 0 0015 3a8.963 8.963 0 00-4.25 1.065V16.82zM9.25 4.065A8.963 8.963 0 005 3c-.85 0-1.673.118-2.454.339A.75.75 0 002 4.06v11a.75.75 0 00.954.721A7.506 7.506 0 015 15.5c1.579 0 3.042.487 4.25 1.32V4.065z"
            ></path>
          </svg>
        </div>

        <div>
          <div class="font-semibold mb-1">Blog Informasi</div>
          <p class="text-sm text-gray-500">
            Kumpulan informasi seputar BRIDA NTB berupa tulisan dalam bentuk
            Blog.
          </p>
        </div>
      </a>
      <!-- link - end -->

      <!-- link - start -->
      <a href="/informasi/video" class="group flex gap-4">
        <div
          class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-900 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm6.39-2.908a.75.75 0 01.766.027l3.5 2.25a.75.75 0 010 1.262l-3.5 2.25A.75.75 0 018 12.25v-4.5a.75.75 0 01.39-.658z"
              clip-rule="evenodd"></path>
          </svg>
        </div>

        <div>
          <div class="font-semibold mb-1">Video BRIDA NTB</div>
          <p class="text-sm text-gray-500">
            Kumpulan informasi seputar BRIDA NTB dalam bentuk Video.
          </p>
        </div>
      </a>
      <!-- link - end -->

      <!-- link - start -->
      <a href="/informasi/program" class="group flex gap-4">
        <div
          class="w-10 md:w-12 h-10 md:h-12 flex justify-center items-center shrink-0 bg-blue-900 group-hover:bg-blue-600 group-active:bg-blue-700 text-white rounded-lg shadow-lg transition duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
              clip-rule="evenodd"></path>
          </svg>
        </div>

        <div>
          <div class="font-semibold mb-1">Pelaksanaan Program</div>
          <p class="text-sm text-gray-500">
            Kumpulan informasi mengenai pelaksanaan program BRIDA NTB.
          </p>
        </div>
      </a>
      <!-- link - end -->
    </div>

    <!-- promo - start -->
    <div class="w-full xl:w-1/2 border rounded-lg overflow-hidden">
      <div class="h-48 bg-gray-100">
        <img
          src="https://images.unsplash.com/photo-1619118884592-11b151f1ae11?auto=format&q=75&fit=crop&w=320"
          loading="lazy"
          alt="Photo by Fakurian Design"
          class="w-full h-full object-cover object-center"
        />
      </div>

      <div class="flex justify-between items-center bg-white gap-2 p-3">
        <p class="text-gray-500 text-sm">Innovative Government Award</p>

        <a
          href="#"
          class="inline-block shrink-0 bg-white hover:bg-gray-50 active:bg-gray-100 focus-visible:ring ring-blue-300 text-blue-500 text-sm font-semibold border rounded-lg outline-none transition duration-100 px-3 py-1"
          >Selengkapnya</a
        >
      </div>
    </div>
    <!-- promo - end -->
  </div>
</div>
